:root {
    --background-dark: #478ccc;
    --background-light: #feffec;
    --dark: #00142B;
    --yellow: #FFB61F;
    --yellow-dark: #D76901;
    --blue-medium: #79BDBD;
    --blue-light: #D3F9E5;
}

.background-light {
    background-color: var(--background-light);
}

.background-dark {
    background-color: var(--background-dark);
}

.dark-color {
    background-color: var(--dark);
}

.not-active {
    color: var(--yellow);
}

.active {
    color: var(--yellow-dark);
}

.c-light {
    color: #fff !important;
}

.c-dark {
    color: var(--dark) !important;
}

.active-blue {
    color: var(--background-dark) !important;
}
