html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  background-color: var(--background-light);
  color: var(--dark);
}

p {
  text-align: justify;
}

a, .custom-link {
  color: var(--yellow);
  text-decoration: none;
}

a:hover, .custom-link:hover {
  color: var(--yellow);
  text-decoration: underline;
}

a:active, .custom-link:active {
  color: var(--yellow-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.toc-row {
  overflow: hidden;
  position: relative;
}

.toc-row:hover {
  text-decoration: underline;
  text-decoration-color: var(--yellow);
}

.before-toc-link {
  padding-right: .25ch;
}

.toc-link::after {
  position: absolute;
  padding-left: .25ch;
  content: " . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . "
      ". . . . . . . . . . . . . . . . . . . . . . . ";
  text-align: right;
}

.box-shadow {
  /*
  box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 19px 0px;
  */
}

.input-field {
  border: 1px solid var(--background-dark);
}

.likes {
  top: -2px;
  margin-left: 5px;
  position: relative;
}


/* React Markdown Tables */
th, td {
  padding-left: 10px;
  padding-right: 10px;
}

.header-link-active {
  color: var(--yellow);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.2em;
}

.header-link-active:hover {
  color: var(--dark) !important;
}

.header-link:hover {
  color: var(--yellow);
}

.header-link:active {
  color: var(--yellow-dark);
}